<nav class="navbar">
  <ul>
    <li class="nav-logo"><img src="assets/original-logo.png" alt="" /></li>
    <li><a href="#menu">Menu</a></li>
    <li><a href="#verify">Verify</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>

  <ul class="right">
    <li><a href="http://twitter.com/calisgreenest" target="_blank">Twitter<a></li>
    <li><a href="http://instagram.com/calisgreenest" target="_blank">Instagram</a></li>
    <li><a href="https://www.yelp.com/biz/calis-greenest-san-diego" target="_blank">Yelp</a></li>
  </ul>
</nav>
